<%- include ('./partials/header.ejs'); %> 
<body>
    <%- include ('./partials/navbar.ejs'); %> 
    <div class="container">
        <div class="card" id="form-pergunta">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>
            <div class="card-body">
                <form class="mt-4" method="POST" action="/salvarpergunta">
                    <input class="form-control mb-4" type="text" placeholder="Titulo" name="titulo">
                    <textarea class="form-control mb-3" name="descricao" placeholder="Descreva sua pergunta (Para conseguir uma ótima resposta, descreva da forma mais simples e clara)" cols="10" rows="5"></textarea>
                    <button class="btn btn-primary">Faça sua pergunta</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ('./partials/footer.ejs') %> 
